*,
*::before,
*::after {
  // margin: 0;
  box-sizing: border-box;
  outline: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  line-height: 1.1;
  margin-right: 0;
  margin-left: 0;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  // background-color: hsl(212deg, 45%, 89%);
  margin: 0;
  padding: 0;
}
